*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background: #F9DC5C;
    --box: #FCEFB4;
    --boxShadow: #FDF8E1;
    --text:black;
}

body{
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.container{
    width: 80vw;
    height: 80vh;
    position: relative;
}

button{
    width: 4em;
    height: 2em;
    font-size: 2em;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transform: background-color ease 500ms;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}


button.right{
    position: absolute;
    right:20px;
    top:90%;
}

button.right>span::after, button.left>span::after{
    content: '→';
    font-size: 2em;
    
}

button.left{
    position: absolute;
    left:20px;
    top:90%;
}
button.left>span::after{
    content: '←';
}

div.roundBtnList{
    position: absolute;
    top:95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 0em 1em;
}
div.roundBtnList > div.roundBtn{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,0.25);
}

div.roundBtnList > div.roundBtn.activeBtn{
    background-color: rgba(255, 255, 255, 0.8);
}

div.itemList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.item{
    position: absolute;
    width: 80%;
    height: 80%;
    opacity: 0;
    background-color: var(--box);
    border-radius: 10px;
    box-shadow: 0em 0em 0.25em 0.25em var(--boxShadow);

    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-flow: dense;
    padding: 0.25em 0.5em;
    gap: 0.75em;
}

div.item.activeSlide{
    opacity: 1;
}


div.item>div:first-child{
    grid-column: 1;
    grid-row: span 2;
    border: 2px solid black;
    padding: 2em 0.5em;
    display: flex;
    flex-flow: column wrap;
    row-gap: 1em;
    justify-content: center;
}

div.item>div:first-child>p:nth-child(2){
    color: var(--text);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div.item>div:first-child>p:nth-child(2n+1){
    color: var(--text);
    text-transform: lowercase;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.item>div#img{
    grid-column: 2;
    grid-row: span 2;
    border: 2px solid black;
}

div.item>div:last-child{
    grid-column: span 2;
    grid-row: span 2;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 2fr 2fr;
    gap: 0.5em 1em;
    
}

div.item>div:last-child>div{
    border: 2px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.item>div:last-child>div:nth-child(2n+2){
    font-weight: 700;
}